@font-face {
    font-family: "SerpenteEF";
    src: url("./SerpentineEF-BoldItalic.otf");
  }
  @font-face {
    font-family: "BrushBT";
    src: url("./Brush455BT.ttf");
  }
.Footer{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-family: 'Poppins';
}
.FooterContents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    padding: 50px 0;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-bottom:1px solid lightgray;
    
}
.FooterLogo{
    position: relative;
}
.FooterLogo h1{
    font-family: 'SerpenteEF';
    font-style: italic;
    font-weight: 900;
    font-size: 50px;
}
.FooterLogo h1 span{
    font-family: 'BrushBT';
    font-size: 13px;
    position: absolute;
    bottom:0;
    right:0px;
}
.FooterMenu{
    width: 25%;
}
.FooterMenu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.FooterMenu ul a{
    width: 100%;
    text-decoration: none;
    color: #000;


}
.FooterMenu ul a li{
    list-style: none;;
}
.FooterCopyright{
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
}
.FooterCopyright p{
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
}